html, body {
  margin:0;
  padding:0;
}
h1 {
  margin:0;
}

.flexIt {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-evenly;
  background-color: cornflowerblue;
}

.background {
  margin: 0;
  padding: 0;
  background-color: salmon;
}